/* .header {
  background-color: lightblue;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.sub-header {
  border-style: dashed;
  color: red;
  text-align: center;
}
.li {
  margin-left: 40px;
  margin: 5px;
}
.btn {
  background-color: lightgreen;
} */
