<app-header></app-header>
<!-- <Program></Program>
  <app-login></app-login>
  <app-register></app-register> -->
<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- <h1 class="header">{{ title }}</h1>
<p class="sub-header">{{ description }}</p>
<div id="left">
  <img src="{{ imageURL }}" />
  <ul>
    <b>Why Batman is cool</b>
  </ul>
  <li class="list">He's rich</li>
  <Program></Program>
  <app-demo2></app-demo2>
  <li class="list">He has his own company</li>
  <li class="list">He works in the night</li>
</div>

<div id="right">
  <form class="form">
    <label>Name </label>
    <input class="input" type="text" />
    <br />
    <label>School </label>
    <input class="input" type="text" />
    <br />
    <button class="btn">Click Me</button>
    <Program></Program>
  </form>
</div> -->