<body id="page-top">



  <!-- ======= Intro Section ======= -->
  <div id="home" class="intro route bg-image"
    style="background-image: url('https://test-newstein-portal-bucket.s3.us-east-2.amazonaws.com/stockPhoto.jpg');">
    <div class="overlay-itro ">


      <div class="container d-block mx-auto my-auto">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <h1 class="intro-title mb-4 masthead text-center" style="font-size: 100px;">Quickpreps</h1>
        <p style="font-size:35px;" class="intro-subtitle text-center masthead-subheading">
          A non-profit website focused on providing free online services<strong class="text-slider"></strong></p>
        <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
      </div>
    </div>
  </div><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="https://test-newstein-portal-bucket.s3.us-east-2.amazonaws.com/krish.jpg"
                          class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Krish Chaudhary</span></p>
                        <p><span class="title-s">Profile: </span> <span>Full stack web developer</span></p>
                        <p><span class="title-s">Email: </span> <span>Krish.sfo.ca@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>(650) 445-2674</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skills</p>
                    <span>HTML</span> <span class="float-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>CSS</span> <span class="float-right">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Angular</span> <span class="float-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Node JS</span> <span class="float-right">70%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Founder
                      </h5>
                    </div>
                    <p class="lead">
                      I created this site in order to offer free services to those affected by the corona virus. The
                      lack of online classes and prep material during the corona virus pandemic, inspired
                      me to create the quickpreps site. From the design level of the site to creating the courses,
                      everything was done by me.
                    </p>
                    <p class="lead">
                      I am a full stack developer with years of coding experience. I am
                      certified in Java and I've
                      completed credited college level courses for languages such as HTML, CSS, Javascript, etc. I
                      personally
                      love web development, because it gives me the ability to be creative and use my imagination.
                    </p>
                    <p class="lead">
                      I'm currently a junior in high school and I'm looking to expand and continue to build on my
                      programming
                      skills. In my free time I like to volunteer at local schools and non-profit organizations. I'm
                      currently working as a freelance web developer and I'm always interested in a challenge.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
    <hr>
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url();">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="contact" class="box-shadow-full">
              <h1 class="title-left text-center">
                Contact Us
              </h1>
              <div class="row mt-4">
                <div class="col-md-12 mb-3">
                  <div class="form-group w-75 mx-auto d-block">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" />
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group w-75 mx-auto d-block">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" />
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group w-75 mx-auto d-block">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group w-75 mx-auto d-block">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                  </div>
                </div>
              </div>
              <div class="btn btn-info d-block w-25 mx-auto mt-2">Submit</div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
</body>